* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* color: white;
  margin:15px;
  background-color: #282c34;
  text-align: center; */
}

.navbar {
  background-color: #282c34;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 15px;
  padding-bottom : 10px;
  padding-left : 15px;
  padding-right : 10px;
  height: 40px;
  color: white;
}

.navbar > li {
  margin-left: 10px;
  font-size: 18px;
  list-style: none;
}

a {
  color: rgb(22, 165, 212);
}

.about-me{
  padding: 10px;
}

.projects-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 20px; /* Adjust the gap between the boxes */
  padding: 20px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .projects-section {
    grid-template-columns: 1fr;
  }
}

.card {
  color: white;
  background-color: #38444d;
  padding: 10px;
  font-weight: 500;
  border: 4px solid #e80d94;
  border-radius: 1%;
  margin: 10px; /* Optional spacing between cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.card-title {
  text-align: center;
  font-size: 20px;
  font-weight:600;
  margin: 5px;
  /* text-decoration: underline; */
}
.card:hover {
  transform: scale(1.05);
}

.card-links{
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
}

.picture-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.picture-container img {
  /* width: 48%; Adjust the width as needed */
  width: 100%;
  height: 25%;
  margin-bottom: 10px;
}
.footer {
  justify-content: center;
  margin-top: 15px;
}

.cp-profiles {
  padding: 25px;
  font-size: 20px;
}
.cp-profiles>a {
  border:2px solid red;
}

.footer {
  background-color: #282c34;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 45px;
  color: white;
  width: 100%;
  font-size: 20px; 
  padding-top:10px ; 
}