* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* color: white; */
  /* margin:15px; */
  background-color: #282c34;
  /* text-align: center; */
}

.navbar {
  background-color: #282c34;
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 5px;
  height: 40px;
  color: white;
  justify-content: space-between;
  /* stick */
  overflow: hidden;
  position: relative;
  z-index: 1000;
}
.sticky {
  position: fixed;
  /* top: 0; */
  width: 100%;
  transition: background-color 0.5s ease;

}

button {
  cursor: pointer;
  border: 1px solid #3498db;
  color: #3498db;
  background-color: black;
  /* border-radius: 5px; */
}

/* Hover effect for the button */
.button:hover {
  background-color: #3498db;
}

.navbar .navbar-links {
  display: flex;
  margin-left: 10px;
  font-size: 18px;
  list-style: none;
  gap: 20px;
  padding-right: 25px;
}

a {
  color: white;
}

a:hover {
  background-color: rgba(172, 255, 40, 0.608);
  transition: 0.2s ease-in-out;
}

/* CSS Animation for Text */
@keyframes colorChange {
  0% { color: #3498db; }
  50% { color: #e74c3c; }
  100% { color: #3498db; }
}

.about-me {
  padding: 5%;
  text-align: center;
}

.technical-skills {
  /* border: 5px solid red; */
  
  margin-left: 15px;
  font: 500;
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.technical-skills .skills-showcase {
  /* border: 2px solid red; */
  display: flex;
  gap: 10px;
  overflow: hidden;
  flex-wrap: wrap;
}

.skill-container {
  display: flex;
  gap: 10px;
}

.skill-card {
  display: flex;
  background-color: #282c34ca;
  color: white;
  padding: 5px;
  border: 2px solid black;
  gap: 5px;
  /* border-radius: 1%; */
  transition: 0.4s ease-in-out;
}
.skill-card img{
  width: 25px;
}

.skill-card:hover {
  margin: 2px;
  background-color: #b9294d;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
}

.projects-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 20px; /* Adjust the gap between the boxes */
  padding: 20px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .projects-section {
    grid-template-columns: 1fr;
  }
  .navbar .navbar-links {
    display: flex;
    margin-left: 1%;
    font-size: 12px;
    list-style: none;
    padding-right: 0px;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 5px;
  }
  .mode-button {
    /* border: 2px solid red; */

  }
  .navbar {
    /* border: 10px solid red; */
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    height: fit-content;
    color: white;
    /* justify-content: space-between; */
  }

  .navbar .logo {
    margin-bottom: 10px;
    margin-left: 5px;
  }
  .about-me {
    /* border: 5px solid red; */
    padding: 10%;
  }
}
.card {
  color: white;
  background-color: #38444d;
  padding: 10px;
  font-weight: 500;
  border: 4px solid #e80d94;
  border-radius: 1%;
  margin: 10px; /* Optional spacing between cards */
  box-shadow: 5px 5px 5px 5px black;
  transition: transform 0.2s ease-in-out;
}
.card-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 5px;
  /* text-decoration: underline; */
}
.card:hover {
  transform: scale(1.05);
}

.card-links {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
}

.picture-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.picture-container img {
  /* width: 48%; Adjust the width as needed */
  /* width: 90%; */
  height: 25%;
  margin-bottom: 10px;
}

.picture-container > button {
  background-color: #282c34;
  border: 2px solid #e80d94;
}
.footer {
  justify-content: center;
  /* margin-top: 15px; */
}

/* .cp-profiles {
  padding: 25px;
  font-size: 20px;
} */
/* .cp-profiles > a {
} */
.experience{
  text-align: center;
  padding : 2%;
  justify-content: center;
  /* padding-left: 10%; */
  /* padding-right: 10%; */
}
.experience-card {
  background-color: #38444d;
  margin-top : 20px ;
  display: flex;
  border: 4px solid grey;
  text-align: center;
  gap:20px;
  color: white;
}
.experience-company{
  /* margin: 5px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 4px solid grey;
  padding: 2%;
}
.experience-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2%;
  /* border: 2px solid red; */
}
.additional {
  /* border: 5px solid red ; */
  padding: 1%;
}
.additional > ul > li > a {
  color: #3498db;
  padding: 2px;
}

.footer {
  background-color: #282c34;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 45px;
  color: white;
  width: 100%;
  font-size: 20px;
  padding-top: 10px;
}
ul > li {
  margin: 5px;
}
